.dropdown {
  position: absolute;
  background: var(--background-zero);
  box-shadow: 0 4px 12px rgb(0 0 0 / 24%);
  border-radius: 12px;
  padding: 8px 0;
}

.dropdown-animation-enter {
  opacity: 0;
  transform: scale(0.2);
  transform-origin: right top;
}

.dropdown-animation-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 200ms ease-in, opacity 300ms;
}

.dropdown-animation-exit {
  opacity: 1;
  transform-origin: right top;
}

.dropdown-animation-exit-active {
  opacity: 0;
  transform: scale(0.2);
  transition: transform 200ms ease-in, opacity 300ms;
}
