.login-container {
  max-width: 500px;
  margin: 50px auto;
}

.oauth-login-container {
  margin-top: 30px;
  text-align: center;
}

.oauth-login-container__item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 40px;
}
