.header {
  background: var(--background-primary);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__navigation {
  margin-left: 24px;
}

.header__controls {
  margin-left: auto;
}

.header--article-page {
  padding-bottom: 100px;
}

.footer {
  margin-top: 64px;
  padding: 24px 0 80px;
  background-color: var(--constant-black);
  color: var(--constant-white);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: var(--constant-white-alpha12);
  margin-bottom: 28px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
}

.footer__link {
  color: var(--constant-accent);
  text-decoration: underline;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__text {
  margin: 0;
}

.footer__text--gray {
  color: #888;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.page-animation-exit {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.page-animation-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
