.skeleton-text {
  color: var(--sceleton-color);
  width: 100%;
}

.skeleton-text--dark {
  color: var(--constant-black-alpha64);
}

.skeleton-text__row {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1em;
  background-color: currentcolor;
}

.skeleton-text__row:last-child {
  width: 60%;
}
